<nav>
    <ul class="page-link">
	<li><a href="{{'tag/beef/' | absolute_url}}">Beef</a></li>
        <li><a href="{{'tag/chicken/' | absolute_url}}">Chicken</a><li>
        <li><a href="{{'tag/pork/' | absolute_url}}">Pork</a><li>
        <li><a href="{{'tag/sausage/' | absolute_url}}">Sausage</a></li>
        <li><a href="{{'tag/vegetarian/' | absolute_url}}">Vegetarian</a></li>
    </ul>
    <ul class="page-link">
        <li><a href="{{'tag/main_dish/' | absolute_url}}">Main Dishes</a></li>
        <li><a href="{{'tag/side_dish/' | absolute_url}}">Side Dishes</a></li>
    </ul>
    <ul class="page-link">
        <li><a href="{{'tag/instant_pot/' | absolute_url}}">Instant Pot</a></li>
    </ul>
</nav>
